/* Write your code here. */
.bg-container {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  min-height: 100vh;
  background-size: cover;
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emojis-container {
  display: flex;
  background-color: transparent;
  flex-wrap: wrap;
  margin: 40px;
  list-style-type: none;
  width: 800px;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .emojis-container {
    width: 560px;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .emojis-container {
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    list-style-type: none;
    width: 560px;
    justify-content: center;
  }
}
